<div class="card">
	<a href="" class="back-ref">Назад</a>
	<form action="/overall/" method="post" class="card-credentials">
		<h2>Введите даные кредитной карты для оплаты</h2>
		<div class="credit">
			<div class="card-number">
				<input type="text" name="card-number1" pattern="\d{4}" placeholder="0000" required maxlength="4">
				<input type="text" name="card-number2" pattern="\d{4}" placeholder="0000" required maxlength="4">
				<input type="text" name="card-number3" pattern="\d{4}" placeholder="0000" required maxlength="4">
				<input type="text" name="card-number4" pattern="\d{4}" placeholder="0000" required maxlength="4">
			</div>
			<input type="text" name="owner" pattern="[A-Za-z]+ [A-Za-z]+" placeholder="SERGEY IVANOV" required>
			<div class="expires-in">
				<input type="text" name="expires-in-month" pattern="\d{2}" placeholder="MM" required maxlength="2">
				<span>/</span>
				<input type="text" name="expires-in-year" pattern="\d{2}" placeholder="YY" required maxlength="2">
			</div>
			<input type="text" name="cvv" pattern="\d{3}" placeholder="CVV" required maxlength="3">
		</div>
		<div class="hidden">
			<input type="text" name="places" id="places" class="hidden" value="{{places}}" readonly>
			<input type="text" name="lastName" class="hidden" value="{{credentials.lastName}}" readonly>
			<input type="text" name="firstName" class="hidden" value="{{credentials.firstName}}" readonly>
			<input type="text" name="passport" class="hidden" value="{{credentials.passport}}" readonly>
			<input type="text" name="validityPeriod" class="hidden" value="{{credentials.validityPeriod}}" readonly>
			<input type="text" name="email" class="hidden" value="{{credentials.email}}" readonly>
			<input type="text" name="tel" class="hidden" value="{{credentials.tel}}" readonly>
			<input type="text" name="tripId" class="hidden" value="{{credentials.tripId}}" readonly>
		</div>
		<input type="submit" value="Далее" id="next">
	</form>
</div>
<script type="text/javascript" src="/js/card-credential.js"></script>